$color-black: black;


//** Font


$font-primary: 'Staatliches', cursive; 
$font-secondary: 'Spartan', sans-serif;
$font-tertiary: 'Rowdies', cursive;

$font-header: 'Bowlby One SC', cursive;
$font-tester: 'Jomhuria', cursive;


//**