$color-black: black;

$color-white: #eee;

$color-grey-light: #e1e1e1;
$color-grey: #aeaeae;
$color-grey-dark: #797979;

$color-primary-light: #0084ff;
$color-primary: #0574dc;
$color-primary-dark: #075aa7;

$color-btn-red: #c21313;
$color-btn-red-light: #ff0202;

$color-btn-green: #01b333;
$color-btn-green-light: #07a233;

$color-checkbox-green: #05b847;


$box-shadow-still: .5rem 1rem 3rem rgba(0, 0, 0, 0.7);
$box-shadow-hover: .5rem 1rem 3rem rgba(0, 0, 0, 0.7);
$box-shadow-active: .5rem 1rem 3rem rgba(0, 0, 0, 0.7);

//** Font


$font-primary: 'Staatliches', cursive; 
$font-secondary: 'Spartan', sans-serif;
$font-tertiary: 'Rowdies', cursive;

$font-header: 'Bowlby One SC', cursive;
$font-tester: 'Jomhuria', cursive;


//**