@import '../../sass/abstracts/variables';


.table {
    width: 50vw !important;
    min-height: 55vh;
    max-height: 55vh;
    position: relative;
    border-radius: 5px 5px 0px 0px !important;
    border-bottom: 1px solid $color-grey;
    box-shadow: 1rem 1rem 3rem black !important;

    .loopedBody {
        background-color: $color-grey-light;

        .entryRow {
            transition: .2s ease;
            
            &:hover {
                background-color: rgba($color-grey, .3);
            }
        }
    }

    .cellText {
        font-size: 1.7rem;
    
        .deleteBtn {
            padding: .5rem 1.5rem 1rem 1.5rem;
            font-size: 4rem;
            border-radius: 3px;
            line-height: .5;
            outline:none;
            border: none;
            background-color: $color-btn-red;
            color: $color-white;
            transition: all .3s ease;
            box-shadow: -.5rem 1rem 3rem rgba(0, 0, 0, 0.8);
    
    
            &:hover {
                background-color: $color-btn-red-light;
                transform: translate(1px, -3px);
                box-shadow: -.3rem 1.5rem 3.5rem rgba(0, 0, 0, 0.6);
            }
    
            &:active {
                transform: translate(1px, -1px);
                box-shadow: -.3rem 1.2rem 3rem rgba(0, 0, 0, 0.7);
            }
        }
    
        .checkBox {
            transform: scale(2);
            color: $color-checkbox-green;
        }
    }

    .inputCell {
        padding: 0 1.5rem;
        width: 70% !important;
        //border: 1px solid black;
        letter-spacing: .2rem;
    }
    
    .cellBold {
        font-weight: bold;
        font-size: 2rem;
        line-height: 1.5;
    }

}

.bottomTable {
    width: 100% !important;
    border-radius: 0px 0px 5px 5px !important;
    box-shadow: 1rem 1rem 3rem black !important;


    .cellText {
        font-size: 1.5rem;
        //background-color: goldenrod;
        //border: 1px solid green;

        .addBtn {
            padding: .5rem 1rem .5rem 1rem;
            font-size: 4rem;
            border-radius: 3px;
            line-height: .8;
            outline:none;
            border: none;
            background-color: $color-btn-green;
            color: rgb(227, 227, 227);
            transition: all .3s ease;
            box-shadow: -.5rem 1rem 3rem rgba(0, 0, 0, 0.8);
    
    
            &:hover {
                background-color: $color-btn-green-light;
                transform: translate(1px, -3px);
                box-shadow: -.3rem 1.5rem 3.5rem rgba(0, 0, 0, 0.6);
            }
    
            &:active {
                transform: translate(1px, -1px);
                box-shadow: -.3rem 1.2rem 3rem rgba(0, 0, 0, 0.7);
            }
        }
    }
    
    .cellBold {
        font-weight: bold;
        font-size: 2rem;
        line-height: 1.5;
    }
    
    .inputCell {
        padding: 0;
        width: 70% !important;
        border-right: 1px solid $color-grey-light;
        
        .input {
            width: 100%;
            padding: 2.5rem 1.2rem;
            font-size: 1.6rem;
            border: none;
            //border-right: 1px solid grey;
        }
    }
}
