.whiteboardView {
    width: 100%;
    height: 100vh;
    background-color: rgb(167, 167, 255);
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    padding: 5rem;

    .nameHeader {
        font-size: 2rem;
    }

    .tableContainer {
        flex: 1 0 50%;
    }

    .finalContainer {
        width: 99.5%;
        height: 200px;
        background-color: goldenrod;
    }

}
